<form 
    class="form_container"
    (ngSubmit)="onSubmit()"
    [formGroup]="animalForm"
>
    <h2 class="form_title"> 
        <span *ngIf="isEditMode" >Editar</span> 
        <span *ngIf="!isEditMode">Agregar</span> 
        Registro
    </h2>

    <div class="floating-group">
        <select id="origiId" formControlName="originId" [value]="origen" (change)="onOriginChange($event)">
            <ng-container *ngFor="let origin of animalOrigins">
                <option [value]="origin.id" >
                    {{ origin.name }}
                </option>
            </ng-container>
        </select>
        <label for="originId">Origen</label>
    </div>

    <div *ngIf="origen === '1' && littersFinalizados.length > 0" class="form_section">
        <select id="litterId" formControlName="litterId">
            <option *ngFor="let litter of littersFinalizados" [value]="litter.id">
            {{ litter.id.toString().padStart(5, '0') }} - {{ litter.status }}
            </option>
        </select>
        <label for="litterId">Camada</label>

        <div>
            Hembras registradas {{registeredFemales}}/{{bornFemales}}.
            Machos registrados {{registeredMales}}/{{bornMales}}.
        </div>
    </div>

    <div *ngIf="!isEditMode">
        <div *ngIf="origen === '1' && litters.length < 1" class="form_section">
            <span>No hay partos registrados.</span>
        </div>

        <div *ngIf="origen === '1' && litters.length > 0 && littersFinalizados.length < 1" class="form_section">
            <span>Las cerdas aun estan gestando o ya fueron registrados.</span>
        </div>
    </div>


    <!-- Valor camada que se muestra si se esta editando -->
    <div *ngIf="isEditMode && origen ==='1'" class="floating-group">
        <input name="litter" type="text" value="{{camadaId.toString().padStart(5, '0')}}" disabled/>
        <label for="litter">Camada</label>
    </div>
    

    <div *ngIf="origen === '2' || littersFinalizados.length > 0" class="form_section">

        <select name="gender" id="" class="form-control mt-1" formControlName="sex" >
            <option value="macho" [disabled]="availableMales <= 0">Macho</option>
            <option value="hembra" [disabled]="availableFemales <= 0">Hembra</option>
        </select>

        <!-- solo mostrata este campo si es edicion -->
        <div class="floating-group" *ngIf="animalId">
            <select id="statusId" formControlName="statusId">
                <ng-container *ngFor="let status of animalStatuses">
                <option [value]="status.id">
                    {{ status.name }}
                </option>
                </ng-container>
            </select>
            <label for="statusId">Estado</label>
        </div>

        <!-- solo mostrata este campo si es edicion o compra del aminal-->
        <div class="floating-group" *ngIf="animalId || origen === '2'">
            <select id="stageId" formControlName="stageId">
                <ng-container *ngFor="let stage of animalStages">
                <option [value]="stage.id">
                    {{ stage.name }}
                </option>
                </ng-container>
            </select>
            <label for="statusId">Etapa</label>
        </div>

        <input
            type="number"
            placeholder="Peso"
            class="form-control mt-1"
            style="width: 100px;"
            id="weight"
            formControlName="weight"
            (keypress)="allowOnlyNumbersMaxMinAndTwoDecimals($event, pesoControl.value || '', 1, 1900)"
            min="{{min_weight}}"
            max="{{max_weight}}"
        />

        <div *ngIf="pesoControl.hasError('min')">
        El peso mínimo es {{min_weight}} lb.
        </div>
        <div *ngIf="pesoControl.hasError('max')">
        El peso máximo es {{max_weight}} lbs.
        </div>  
        
        
        <input
            type="text"
            placeholder="Raza"
            class="form-control mt-1"
            maxlength="20"
            style="width: 100px;"
            formControlName="breed"
        />
    </div>

    <div *ngIf="origen === '2'" class="form_section" id="bought">
        <input 
            type="date" 
            placeholder="Fecha de nacimiento" 
            class="form-control mt-1"
            formControlName="birthDate" 
        >
    </div>

    <button type="submit" 
        class="sqr_rds mt-1" 
        style="display: flex; margin: 0; padding: 0; background-color: transparent; border: 0px transparent;" >
        <img    src="/assets/icons/save_disk.png" 
                alt="" 
                class="sqr_rds" 
                style="width: 5rem; height: 5rem;"
        >
    </button>
        
</form>