<form
  [formGroup]="litterForm"
  (ngSubmit)="onSubmit()"
  class="form_container">

  <h2 class="form_title">Nuevo Registro Reproductivo</h2>

  <div class="form_section">

    <!-- MADRE -->
    <div class="floating-group" *ngIf="hembras.length > 0">
        <select id="madreId" formControlName="madreId" required> 
            <ng-container *ngFor="let madre of hembras">
                <option *ngIf="madre.sex === 'hembra'" [value]="madre.id"> 
                    {{ madre.id.toString().padStart(5, '0') }}
                </option> 
            </ng-container> 
        </select> 
        <label for="madreId">Madre</label> 
    </div>

    <div class="floating-group" *ngIf="hembras.length < 1">
        <input value="Sin hembras disponibles" name="SinHembras" disabled>
        <label for="SinHembras">Madre</label> 
    </div>
    
    <!-- PADRE -->
    <div class="floating-group" *ngIf="machos.length > 0">
      <select id="padreId" formControlName="padreId">
        <ng-container *ngFor="let padre of machos">
          <option *ngIf="padre.sex === 'macho'" [value]="padre.id">
            {{ padre.id.toString().padStart(5, '0') }}
          </option>
        </ng-container>
      </select>
      <label for="padreId">Padre</label>
    </div>

      <div class="floating-group" *ngIf="machos.length < 1">
        <input value="Sin machos disponibles" name="SinMachos" disabled>
        <label for="SinMachos">Padre</label>
      </div>

      <!-- ESTADO -->
    <div class="floating-group" *ngIf="isEditMode == true">
      <select id="estado" formControlName="status" required>
        <option value="" disabled selected hidden>Seleccione estado</option>
        <ng-container *ngFor="let status of statuses">
          <option [value]="status">
            {{ status }}
          </option>
        </ng-container>
      </select>
      <label for="estado">Estado</label>
    </div>

    <!-- HEMBRAS NACIDAS -->
    <div  class="floating-group" *ngIf="isFinished">
      <input
        id="bornAliveFemales"
        type="number"
        formControlName="bornAliveFemales"
        min="{{min_born}}"
        max="{{max_born}}"
        (keypress)="OnlyDigit($event)"
        (input)="onInput($event)"
        (input)="sumatoria($event)"
      />
      <label for="bornAliveFemales">Hembras nacidas</label>
      <div *ngIf="litterForm.get('bornAliveFemales')?.hasError('min')"> El valor mínimo permitido es {{min_born}}
      </div> <div *ngIf="litterForm.get('bornAliveFemales')?.hasError('max')"> El valor máximo permitido es {{max_born}} </div> 
      <div *ngIf="litterForm.get('bornAliveFemales')?.hasError('required')"> Este campo es obligatorio </div>
      <div>Suma total de {{min_born}}-{{max_born}}</div>
    </div>

    <!-- MACHOS NACIDOS -->
    <div  class="floating-group" *ngIf="isFinished">
      <input
        id="bornAliveMales"
        type="number"
        formControlName="bornAliveMales"
        min="{{min_born}}"
        max="{{max_born}}"
        (keypress)="OnlyDigit($event)"
        (input)="onInput($event)"
        (input)="sumatoria($event)"
      />
      <label for="bornAliveMales">Machos nacidos</label>
      <div *ngIf="litterForm.get('bornAliveMales')?.hasError('min')"> El valor mínimo permitido es {{min_born}}
      </div> <div *ngIf="litterForm.get('bornAliveMales')?.hasError('max')"> El valor máximo permitido es {{max_born}} </div> 
      <div *ngIf="litterForm.get('bornAliveMales')?.hasError('required')"> Este campo es obligatorio </div>
      <div>Suma total de {{min_born}}-{{max_born}}</div>
    </div>

    <!-- MACHOS ABORTADOS -->
    <div  class="floating-group"
          *ngIf="(isFinished || isAborted)">
      <input
        id="stillbornMales"
        type="number"
        formControlName="stillbornMales"
        min="{{min_born}}"
        max="{{max_born}}"
        (keypress)="OnlyDigit($event)"
        (input)="onInput($event)"
        (input)="sumatoria($event)"
      />
      <label for="stillbornMales">Machos abortados</label>
      <div *ngIf="litterForm.get('stillbornMales')?.hasError('min')"> El valor mínimo permitido es {{min_born}}
      </div> <div *ngIf="litterForm.get('stillbornMales')?.hasError('max')"> El valor máximo permitido es {{max_born}} </div> 
      <div *ngIf="litterForm.get('stillbornMales')?.hasError('required')"> Este campo es obligatorio </div>
      <div>Suma total de {{min_born}}-{{max_born}}</div>
    </div>

    <!-- HEMBRAS ABORTADAS -->
    <div  class="floating-group"
          *ngIf="(isFinished || isAborted)">
      <input
        id="stillbornFemales"
        type="number"
        formControlName="stillbornFemales"
        min="{{min_born}}"
        max="{{max_born}}"
        (keypress)="OnlyDigit($event)"
        (input)="onInput($event)"
        (input)="sumatoria($event)"
      />
      <label for="stillbornFemales">Hembras abortadas</label>
      <div *ngIf="litterForm.get('stillbornFemales')?.hasError('min')"> El valor mínimo permitido es {{min_born}}
      </div> <div *ngIf="litterForm.get('stillbornFemales')?.hasError('max')"> El valor máximo permitido es {{max_born}} </div> 
      <div *ngIf="litterForm.get('stillbornFemales')?.hasError('required')"> Este campo es obligatorio </div>
      <div>Suma total de {{min_born}}-{{max_born}}</div>
    </div>

    <!-- NOTAS -->
    <div class="floating-group">
      <textarea
        id="notas"
        rows="3"
        formControlName="notes"
        placeholder=" "
      ></textarea>
      <label for="notas">Notas</label>
    </div>
  </div> <!-- Fin class="form_section" -->
     
  <button
        type="submit"
        class="sqr_rds mt-1"
        style="display: flex; margin: 0; padding: 0; background-color: transparent; border: 0px transparent;">
      <img
        src="/assets/icons/save_disk.png"
        alt=""
        class="sqr_rds"
        style="width: 5rem; height: 5rem;" />
  </button>

</form>

